body {
    width: 100%;
    margin: 0;
}
.header {
    text-align: center;
    width: 100%;
    height: 200px;
}
.headertop {
    background-color: red;
    height: 50%;
}
.headerbot {
    background-color: white;
    height: 50%;
}
.content {
    background-color: tomato;
    text-align: center;
}
hr {
    margin: 0;
}
.footer {
    background-color: thistle;
    text-align: center;
    height: 200px;
}