* {
   margin: 0;
   /* border: 1px solid #ddd; */
}
.header {
    position: relative;
}
.header .headimg {
   position: absolute;
   height: 20%;
}
.header .headimg img{
    position: absolute;
    height: 20%;
}

.headertop{
    background-color: red;
    color: white;
    height: 100%;
    text-align: center;
}
.headerbot{
    background-color: white;
    color: #000;
    height: 100%;
    text-align: center;
}
.content {
    min-height: 500px;
    text-align: center;
}
.content p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
}
.content img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}
.footer {
    text-align: center;
}